@model GenerateTestYourselfViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.HeadPageText</h2>

<form asp-antiforgery="true" asp-controller="TestYourself" asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" class="validation" asp-validation-summary="ModeOnly">
    <div class="form-group">
        <label>Введите число для определенния количества слов в тесте</label>
        <input asp-for="Number" class="form-control custom-control half-size" required />
        <span asp-validation-for="Number" class="form-text text-danger"></span>
    </div>
    <input type="submit" value="Начать тест" class="btn btn-primary" />
    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Назад</a>
</form>