@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5 text-center">@ViewBag.SuccessText</h2>
@section scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                window.location.href = "/@ViewBag.ControllerRedirect/@ViewBag.MethodRedirect";
            }, 2000);
        })
    </script>
}

